<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

  <script>
    function initializeLogging() {
      // logging key for google analytics
      var s = 'YTafXZHCJPk5hLr8aud2X7C9N8e00vn5cWUcm2czle2Jj6MZaqP70nECBtK9wmVGcLLumTZdlCXOur5XY52h2j18VEdY0CrbbXa72InM4akfuIpAZ8i4WQ0DRnRE1bhY';
      document.getElementById('analytics').innerHTML = atob(s.split('').filter(function(_, i) { return i % 4 === 0; }).join(''));
    }
  </script>

  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:left">
              <h1>
              Alexander Raistrick
              </h1>
              <p>I'm a 5th year Ph.D student at Princeton University advised by <a href='https://www.cs.princeton.edu/~jiadeng/'>Jia Deng</a>. </p>
              <p>I work on <a href="https://infinigen.org">infinigen.org</a>, a procedural 3D data generator for computer vision and robotics. </p>
              <p>I completed undergrad at the University of Michigan, where I was fortunate to work with <a href="https://web.eecs.umich.edu/~fouhey/">David Fouhey</a> and previously <a href="http://michael-nebeling.de/">Michael Nebeling</a>.</p>
              
              <p style="text-align:center">
                <a href='#' onclick='initializeLogging()' id='analytics'> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/araistrick">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=GYwaBgoAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="pdfs/curriculum_vitae.pdf"> CV </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/alex_raistrick"> Twitter </a> 
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:80%;max-width:80%;display:block;margin:0 auto" alt="profile photo" src="images/profile_circle.png">
            </td>
          </tr>
        </table>

        <!-- RESEARCH POSTS-->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="margin:0">Research</h2>
              <p style="margin:4px 0 0 0"><a id="sort-toggle" href="#" style="cursor:pointer">Sort: Highlighted</a></p>
            </td>
          </tr>
        </table>
        <table id="research-table" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% assign highlighted = site.posts | where_exp: "p", "p.highlight" | sort: "date" %}
          {% for post in highlighted %}
          {% if post.categories contains 'research' %}
          <tr bgcolor="#f0f0f0" data-date="{{post.date | date: '%Y-%m-%d'}}" data-highlight="1">
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" loading="lazy" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> / {% endif %}
              {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
              {% if post.paper %}<a href="{{post.paper}}">paper</a> / {% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
              {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
              {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}

          {% for post in site.posts %}
          {% if post.categories contains 'research' and post.highlight != true %}
          <tr data-date="{{post.date | date: '%Y-%m-%d'}}" data-highlight="0">
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" loading="lazy" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> / {% endif %}
              {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
              {% if post.paper %}<a href="{{post.paper}}">paper</a> / {% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
              {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
              {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <!-- COURSEWORK POSTS-->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Coursework</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'coursework' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" loading="lazy" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
	      {{post.authors}}
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.dataset %}
              <a href="{{post.dataset}}">dataset</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	  <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle"> <a href="https://web.eecs.umich.edu/~nham/EECS398F19/">U-M EECS 398 - System Design of a Search Engine - Fall 2019 </a></td>
          </tr>
	  <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle"> <a href="https://eecs280staff.github.io/eecs280.org/">U-M EECS 280 - Programming and Intro Data Structures - Winter 2019 </a></td>
          </tr>
	  <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle"> <a href="https://eecs280staff.github.io/eecs280.org/">U-M EECS 280 - Programming and Intro Data Structures - Fall 2020 </a></td>
          </tr>
	  <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle"> Princeton COS529 - Advanced Computer Vision - Fall 2022</a></td>
          </tr>
	  <tr>
            <td style="padding-left:2.5%;width:75%;vertical-align:middle"> Princeton COS324 - Introduction to Machine Learning - Spring 2023 <b>(Grad. Student Teaching Award)</b<></a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:0px">
        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code from <a href="https://leonidk.com/">Leonid Keselman's</a> <a href="https://github.com/leonidk/new_website">Jekyll fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
        </p>
      </td>
    </tr>
  </table>
  <script>
    (function() {
      var modes = ['highlighted', 'newest', 'oldest'];
      var labels = {highlighted:'Sort: Highlighted', newest:'Sort: Newest', oldest:'Sort: Oldest'};
      var idx = 0;
      var btn = document.getElementById('sort-toggle');
      var table = document.getElementById('research-table');
      if (!btn || !table) return;
      var rows = Array.prototype.slice.call(table.querySelectorAll('tr[data-date]'));
      var original = rows.slice();
      function apply() {
        var mode = modes[idx];
        btn.textContent = labels[mode];
        var sorted;
        if (mode === 'highlighted') {
          sorted = original;
        } else {
          sorted = rows.slice().sort(function(a, b) {
            var da = a.getAttribute('data-date'), db = b.getAttribute('data-date');
            return mode === 'newest' ? db.localeCompare(da) : da.localeCompare(db);
          });
        }
        sorted.forEach(function(r) { table.appendChild(r); });
      }
      btn.addEventListener('click', function(e) { e.preventDefault(); idx = (idx + 1) % modes.length; apply(); });
    })();
  </script>
</body>

</html>

